[Unit]
Description=gunicorn_petsshare daemon 

After=network.target 

[Service]
User=yc-user 

WorkingDirectory=/home/yc-user/petsshare/backend/

ExecStart=/home/yc-user/petsshare/backend/venv/bin/gunicorn --bind 0.0.0.0:8080 petsshare_backend.wsgi

[Install]
WantedBy=multi-user.target
